@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Muli');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style:none;
    text-decoration: none;
}  
    
:root{
    --font-primary:"Fira Sans", serif;
    --font-secundary:"Josefin Slab", serif;
    --font-action:"Muli", serif;
}

html{
    scroll-behavior: smooth;
}

.hamburguer{
    /*background-color: blue;*/
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer{
    right: 16rem;
}

.line{
    width: 110%;
    height: .1rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1px  #182848;
    transition: transform 0.5s;
}

.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .30rem);
}
    

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}


.show-menu #line3{
transform: rotate(-45deg) translate(.3rem, -.50rem);;
}

.hamburguer span{
position: absolute;
left: 3rem;
height: 2rem;
width: 6rem;
display: flex;
justify-content: center;
align-items: center;
background-color: #85a8f8;
color: white;
font-family: var(--font-action);
opacity: -1;
}

.hamburguer span::before{
    content:"";
    position:absolute;
    border-right: .5rem solid #85a8f8;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
    
}


header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 18s;
}

@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position:absolute;
    height: 100%;
    width: 100%;
    object-fit:initial;
    top: 30%;
    left: 15%;

}

.banner h1{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-family:var(--font-primary);
    font-weight: 300;
    text-shadow: .3rem .3rem 2px rgba(0,0,0,0.4);
    line-height: 6rem;
    margin-bottom: 6rem;
    opacity: 0;
    animation: movebanner 1s 0.5s forwards;
}

.banner p{
    font-family: var(--font-secundary);
    color: white;
    font-size: 1.9rem;
    text-shadow: 2rem .3rem 4px rgba(0,0,0,0);
    margin-bottom: 5rem;
    opacity: 0;
    animation: movebanner 1s  0.7s forwards;

}

.banner button{
    font-family: var(--font-action);
    color:ghostwhite;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background-color: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #182848, #4b6cb7);
    background: linear-gradient(to top, #182848, #4b6cb7); 
    padding: .5rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: movebanner 1s  0.9s forwards;
}

.banner button:hover{
    color: black;

}

@keyframes movebanner{
 0%{
     transform: translateY(10rem) rotateY(-30deg);
 }   
 100%{
     transform: translateY(0) rotateY(0);
     opacity: 1;
 }
}

.sidebar{
    width: 18rem;
    height: 100vh;
    background-color: #eee;
    position:fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 80;
}

.show-menu .sidebar{
    right: 0;
}

.menu-item{
    text-align: center;
}

.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    color: rgb(97, 97, 97);
    line-height: 9rem;
    transition: color 0.5s;

}

.menu-link:hover{
    color: rgb(82, 84, 214);
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
 }

 .social-media i{
     color: rgb(255, 255, 255);
     background-color:rgb(19, 5, 58);
     height: 2.5rem;
     width: 2.5rem;
     font-size: 2rem;
     display: flex;
     border-radius: 50%;
     justify-content: center;
     align-items: center;
     transition:background-color 0.5s;
 }

 .social-media i:hover{
     background-color: rgb(82, 84, 214);
    
 }
 
 .conhecimentos {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 4rem);
  row-gap: 1.5;
}

.conhecimento:nth-child(1) {
  grid-column: 4 / 7;
  grid-row: 1 / 3;
}

.conhecimento:nth-child(2) {
  grid-column: 3 / 6;
grid-row: 3 / 5;
}

.conhecimento:nth-child(3) {

grid-column: 4 / 7;
grid-row: 5 / -1;
}
.conhecimento:nth-child(4) {
  grid-column: 11 / 14;
  grid-row: 1 / 3;
} 
    
  .conhecimento:nth-child(5) {  
    grid-column: 12 / 15;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(6) {
  grid-column: 11 / 14;
grid-row: 5 / -1;
}

.sessao-conhecimentos {
  background-color: #f5f5f5;
  height: 100%; 
}


.sessao-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sessao-header h1 {
  font-family: var(--font-primary);
  font-size: 3rem;
  color: #1882e6;
  border-bottom: solid 3px #fd22c6;
  margin-bottom: 1.5rem;
}

.conhecimento-header {
  display: flex;
  align-items: center;
  color: #2c3bc4;
}

.conhecimento-header i {
  font-size: 2.5rem;
}

.conhecimento-header h3 {
  font-family: var(--font-secundary);
  font-size: 2rem;
  padding-left: 1rem;
}

.conhecimento-text {
  font-family: var(--font-secundary);
  margin-top: 1rem;
  top: 100px;
  width: 250px;
 }

.conhecimentos-img-wrapper {
  grid-column: 6 / 16;
  grid-row: 2 / 10;
  width: 90%;
 }

.conhecimentos-img-wrapper img {
  object-fit:scale-down;
  height: 90%;
  
}

.projetos {
    display: flex;
    justify-content: space-evenly;
      
    
}

.card {
    width: 25rem;
    height: 30rem;
    position: relative;
 }

.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: .5rem;

}

.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .8;
    border-radius: .5rem;
    transition: all .3s;
}

.card:hover .card-img-wrapper img{
    opacity: 5;
}

.card-info {
    position: absolute;
    text-align: center;
    bottom: 0rem;
    visibility: hidden;
    opacity: 0;
    padding: 2rem;
    text-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.8);
    transition: all .3s;
}

.card-info h2 {
    font-family: var(--font-secundary);
    margin-top: 6rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color:#eee;
}

.card-info h3 {
    font-family: var(--font-secundary);
    position: relative;
    margin-top: 1rem;
    text-align:center;
    font-size: 20px;
    font-weight:bolder;
    color:rgb(164, 192, 221);
    text-shadow: black;
       
}

.card-info p {
    font-size: 19px; 
    margin-top: 10rem;
    font-weight: 400;
    margin-left: 35px;
    text-align: center;
    font-family: var(--font-secundary);
    font-weight: bolder;
    color: #eee;
    line: height 100px;
    margin-bottom: 1rem;
    
}

.card-info button {
    width: 9rem;
    align-items: center;
    height: 2rem;
    background-color: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #182848, #4b6cb7);
    background: linear-gradient(to top, #182848, #4b6cb7);
    font-family: var(--font-action);
    font-size: 1rem;
    color: #eee;
    border-radius: .3rem;
    border: none;
    box-shadow: 0 .1rem .8 rgba(0,0,0,0.4);
    cursor: pointer;
    opacity: 0;
    animation: movebanner 1s  0.9s forwards;
}



.card-info button:hover {
    color: black;
}

.card:hover .card-info {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}

.saiba-mais {
    display: flex;
    justify-content: space-evenly;
         
    
}

.card {
    width: 25rem;
    height: 30rem;
    position: relative;
 }

.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: .5rem;

}

.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .8;
    border-radius: .5rem;
    transition: all .3s;
}

.card:hover .card-img-wrapper img{
    opacity: 5;
}

.card-info {
    position: absolute;
    text-align: center;
    bottom: 0rem;
    visibility: hidden;
    opacity: 0;
    padding: 1rem;
    text-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.8);
    transition: all .3s;
}

.card-info h2 {
    font-family: var(--font-secundary);
    border-bottom: solid 3px #2267fd;
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color:#eee;
}

.card-info h3 {
    font-family: var(--font-secundary);
    position: relative;
    margin-top: 1rem;
    text-align:center;
    font-size: 20px;
    font-weight:bolder;
    color:rgb(164, 192, 221);
    text-shadow: black;
       
}

.card-info p {
    font-size: 19px; 
    margin-top: 9rem;
    font-weight: 400;
    margin-left: 1px;
    text-align: center;
    font-family: var(--font-secundary);
    font-weight: bolder;
    color: #eee;
    line: height 100px;
    
}

.card-info button:hover {
    color: black;
}

.card:hover .card-info {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}

.saiba-mais2 {
    display: flex;
    justify-content:space-evenly;
}        


.cards {
    width: 15rem;
    height: 30rem;
    position: relative;
 }

.cards-img-wrapper {
    width: 95%;
    height: 95%;
    background-color: #262626;
    border-radius: .5rem;

}

.cards-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .8;
    border-radius: .5rem;
    transition: all .3s;
}



footer {
    width: 100%;
    height: 4rem;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 70%;
    display: flex;
    justify-content:space-between;
}

.footer-content p {
    font-family: var(--font-secundary);
    color: #eee;
    font-size: 1.2rem;
}

.social-list a {
    margin: 0 2rem;
    color:#eee;
    font-size: 1.3rem;
}

.social-list ul {
    display: flex;
}

#link-topo{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    background-color: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #182848, #4b6cb7);
    background: linear-gradient(to top, #182848, #4b6cb7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    border-radius: .3rem;
    box-shadow: 0 0 .1rem 0.rem black;



}

